{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div>
    <div class="jumbotron row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1 class="mt-3">{{"title.welcome"|trans}}</h1>
            <p class="lead">Nous mettons en relations des proprietaire et des future locataire pour quil puisse profiter de leur bien en gagnant de l'argent</p>
            <hr class="my-4">
            <p>Vous avez trouvé votre futur maison de vacance? Vener voir aux offre !!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{path('ads_liste')}}" role="button">Voir Nos Annonces</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="container">

        <h2>Nos appartements stars</h2>
        <div class="row my-5">
            {% for ad in bestAds %}
            
               {% include "ad/_ad.html.twig" with {"ad": ad.ad} %}
           
            {% endfor %}
        </div>
        <hr>
        <h2 class="my-5">Nos Super proprietaires </h2>
        <div class="row">
            {% for user in bestUsers %}
                <div class="col-md-6">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h4 class="card-title">{{user.user.fullName}}</h4>
                            <hr>
                            <div class="card-text">
                                <img src="{{user.user.picture}}" class="float-left mr-3 avatar"alt="">
                                <p>{{user.user.introduction}}</p>
                                <a href="{{path('user_show', {'slug':user.user.slug})}}" class="btn btn-secondary float-right">En savoir plus !</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
