{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block stylesheets %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div>
            <h3>Reservation pour l'annonce : </h3>
            <h1>{{ ad.title }}</h1>
            {{form_start(form)}}
                <div>
                    <p>Quelles sont les dates a laquelle vous voulez venir ??</p>
                    <div class="row">
                        <div class="col">
                            <div>
                                {{form_row(form.startDate)}}
                            </div>
                        </div>
                        <div class="col">
                                {{form_row(form.endDate)}}
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Laisser nous un commentaire pour nous dire des informations sur votre arrivé et départ et on s'occupe du reste !! </h4>
                    {{form_row(form.comment)}}
                </div>

                <button type="submit" class="btn btn-success">Réserver ! </button>
            {{form_end(form)}}

        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function(){
        $("#booking_startDate, #booking_endDate").datepicker({
            format : "dd/mm/yyyy",
            datesDisabled : [
                {% for day in ad.unavailableDays %}
                    "{{day|date("d/m/Y")}}",
                {% endfor %}
            ],
            startDate: new Date()
        });
    });
</script>

{% endblock %}
