{% extends 'base.html.twig' %}

{% block title %}Nos annonces{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-3"> Liste des annonces ! </h1>

        <div class="row">

            {% for ad in ads %}
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-header"> {{ad.rooms}} chambres toto  <strong> {{ad.price}}&euro; par nuit</strong></div>
                        <div class="card-body">
                            <h4 class="card-title">{{ad.title}}</h4>
                            <img src="{{ad.coverImage}}" alt="" style="width: 100%;">
                            <p class="card-text">{{ad.introduction|raw}}</p>
                            <a href="#" class="btn btn-secondary mb-auto">Voir l'annonce</a>
                        </div>
                    </div>
                </div>  
            
            {% endfor %}
        </div>

    </div>

{% endblock %}
