{% extends "base.html.twig" %}

{% block title %} création d'une annonce {% endblock %}

{%  form_theme formAd "ad/_themeCollection.html.twig" %}

{% block body %}

    <div class="container">
        <h1>Création d'une annonce</h1>

        
        {{ form_start(formAd) }}
            <div class="form-group">

                {{ form_row(formAd.title) }}
                {{ form_row(formAd.introduction) }}
                {{ form_row(formAd.content) }}
                {{ form_row(formAd.imageFile) }}
                {{ form_row(formAd.rooms) }}
                {{ form_row(formAd.price) }}
                {{ form_row(formAd.images) }}

                <input type="submit" value="crée la nouvelle annonce" class="btn btn-success">

            </div>
            {{ form_end(formAd) }}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}