{% extends "base.html.twig" %}
{% block title %} création d'une annonce {% endblock %}

{% block body %}

    <div class="container">
        <h1>Création d'une annonce</h1>

        
        {{ form_start(formAd) }}
            <div class="form-group">

                {{ form_row(formAd.title) }}
                {{ form_row(formAd.introduction) }}
                {{ form_row(formAd.content) }}
                {{ form_row(formAd.coverImage) }}
                {{ form_row(formAd.rooms) }}
                {{ form_row(formAd.price) }}

                <input type="submit" value="crée la nouvelle annonce" class="btn btn-success">

            </div>
            {{ form_end(formAd) }}

    </div>

{% endblock %}