{% extends "base.html.twig" %}

{% block title %} création d'une annonce {% endblock %}

{%  form_theme formAd _self %}

{% block body %}

    <div class="container">
        <h1>Création d'une annonce</h1>

        
        {{ form_start(formAd) }}
            <div class="form-group">

                {{ form_row(formAd.title) }}
                {{ form_row(formAd.introduction) }}
                {{ form_row(formAd.content) }}
                {{ form_row(formAd.coverImage) }}
                {{ form_row(formAd.rooms) }}
                {{ form_row(formAd.price) }}
                {{ form_row(formAd.images) }}

                <input type="submit" value="crée la nouvelle annonce" class="btn btn-success">

            </div>
            {{ form_end(formAd) }}

    </div>

{% endblock %}

{% block _annonce_images_entry_row %}

    {{form_widget(form)}}

{% endblock %}

{% block _annonce_images_widget %}

    <h5>Ici, vous pouvez ajouter vos images pour votre annnoce !</h4>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets_counter" value="0">
    <div class="row">
        <div class="col-md-9"></div>
        <button type="button" class="btn btn-primary col-md-3" id="add_image">Ajouter une image</button>
    </div>

{% endblock %}



{% block _annonce_images_entry_widget %}

    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-md-5">
                {{form_widget(form.url)}}
            </div>
            <div class="col-md-5">
                {{form_widget(form.caption)}}
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger" data-action='delete' data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}

<script>

    $("#add_image").click(function(){

        // je récupère le nombre d'image ajouté
        let index = +$("#widgets_counter").val();

        console.log(index);
        // je récupère le prototype du formulaire des images
        let templateImage = $("#annonce_images").data("prototype").replace(/__name__/g, index); 

        // j'intecte le prototype dans le fsomulaire
        $("#annonce_images").append(templateImage);

        $("#widgets_counter").val(index+1)

        handleDeleteButton();

    });

    function handleDeleteButton()
    {
        $("button[data-action='delete']").click(function(){

            const target = this.dataset.target;
            console.log(target);
            $(target).remove();

        });
    }

    handleDeleteButton();

</script>

{% endblock %}